<app-menus></app-menus>
<div class="menu-content">
  <h3>Change Password</h3>
  <div [hidden]="submitted"  class="content">
    <form [formGroup] (ngSubmit)="onSubmit()" ngNativeValidate>
      <div class="form-group">
        <label for="name">User Name</label>
        <input type="text" class="form-control" id="Username" required [(ngModel)]="usert.user_name" name="Username" readonly>
      </div>
  
      <div class="form-group">
        <label for="name">Old Password</label>
        <input type="password" class="form-control" id="Password" required [(ngModel)]="pwd" name="Password">
      </div>
  
      <div class="form-group">
        <label for="name">New Password</label>
        <input type="password" class="form-control" id="NewPassword" required [(ngModel)]="npwd" name="NewPassword">
      </div>

      <div class="form-group">
        <label for="name">Confirm New Password</label>
        <input type="password" class="form-control" id="RetryNewPassword" required [(ngModel)]="rnpwd" name="RetryNewPassword">
      </div>
  
      <button type="submit" class="btn btn-success">Submit</button>
      <p id="msg" *ngIf="isVisible"><i class="fa fa-exclamation-circle" *ngIf="isVisible"></i> {{message}}</p>
    </form>
  </div>
  
  <div [hidden]="!submitted">
    <h4>{{message}}</h4>
  </div>
  
  <br>
  <br>
  <button (click)="list()" class="btn btn-primary">Back to Student List</button><br>
  
</div>